extends layout

block content
  .container
    .col-2of5.bg-white.profile
      if (user)
        img.avatar(src="/img/avatar.jpg" alt="avatar")
        h3=`${user.name}`
        h5 @#{user.username}
        h4
          i.fas.fa-map-marker-alt
          |  #{user.location}
        p.center
          |  #{user.bio}
      else
        img.avatar(src="/img/avatar.jpg" alt="avatar")
        h3 user.name after login
        h5 @uesr.username after login
        h4
          i.fas.fa-map-marker-alt
          |  user.location after login
        p.center
          | user.bio after login
    include tweet